.App {
  text-align: center;
  min-width: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiInputBase-input.Mui-disabled{
  color: black;
}

.MuiFormHelperText-root{
  color : darkred !important;
}

.MuiButton-contained.Mui-disabled{
  background: #3f51b5 !important;
}

